.catalog-item {
    transition: transform 0.3s, box-shadow 0.3s;
}

.catalog-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}
#catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    width: 70%;
    margin: auto;
}

.card-img-top {
    height: 400px;
    object-fit: contain;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}